.Banner {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nixie;
  font-weight: bolder;
  flex-wrap: wrap; /* Allows items to wrap onto a new line on smaller screens */
  margin: 2rem;
  gap: 2rem; /* Adds space between the items */
}

.Resume {
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
  margin: 2rem;
  flex: 1 1 50%; /* Allows the Resume div to be flexible and take up to 50% of the space */
  max-width: 800px;
}

.Resume h2 {
  color: black;
  font-family: Nixie;
}

.Resume p {
  color: black;
}

img {
  margin-top: 1rem;
  width: clamp(20rem, 40vw, 40rem); /* Use clamp to set a flexible width with min and max values */
  height: auto; /* Ensures the aspect ratio is maintained */
  border-radius: 0.75rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .Banner {
    flex-direction: column;
    gap: 3rem;
  }
}