.Problems{
    padding: 3rem;
    font-family: Nixie;
    line-height: 1.5rem;
    h2{
        margin: 1rem;
        font-weight: bolder;
    }
    hr{
        width: 100%;
        margin: 1rem;
    }
}