.Projects {
    padding: 3rem;
    font-family: Nixie;
    line-height: 1.5rem;
    h2{
        margin: 1rem;
        font-weight: bolder;
    }
    hr{
        width: 100%;
        margin: 1rem;
    }
    .Project{
        h2{
            text-align: center
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        div{
            padding: 3rem;
            width: 32%;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            li{
                margin-top: 1rem;
                margin-left: 1rem;
            }
            a{
                color:$dark;
                text-decoration: none;
            }
        }
    }
}